@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: #fff;
    font-size: 41px;
    font-weight: 700;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 3em;
    background-color: blueviolet;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 19em;
    height: 31em;
    padding: 1.8em 3em;
    background-color: blue;
    
}

.cards:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cards:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.cards:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cards svg {
    margin:  0.5em 0 2.2em 0;

}

.cards h1 {
    margin:  0 0 0.7em 0;
}

.cards p {
    word-spacing: 0.2em;
    text-align:left;
    line-height: 1.6em;
    margin:  0 0 2em 0;

}

button {
    width: 11em;
    height: 3.5em;
    border: none;
    border-radius: 25px;
    margin:  2.2em 0 2em 0;
}

button a {
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#btn_sedans a{
    color: hsl(31, 77%, 52%) ;
}

#btn_suv a{
    color: hsl(184, 100%, 22%) ;

}

#btn_luxe a{
    color: hsl(179, 100%, 13%);
}


@media screen and (max-weight: 425px) {
    

}

